<style>
		body {
		background-color:#00FF00;
	} 
</style>

<h1 align="center">HEAD-TO-HEAD-PERFORMANCE</h1>
<h2 align="center">Player-1 wins <%=@player1count%>% times and Player-2 wins <%=@player2count%>% times</h2>
<br>
<div id="back" align="center">
<%= link_to 'back', new_performance_path %>
</div>